/* Custom CSS for Projects Page */
body{
    background-color: rgb(17, 17, 43);
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

.card {
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #000;
}

.card-text {
    font-size: 1rem;
    color: #000000;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #ffffff;
}
